<section class="repertoire pt-3">
  <div class="container">
  <h1 class="text-center pb-3">Repertoire</h1>
  <hr/>
          @if (repertoire().length > 0) {
            <div class="row">
              @for (d of repertoire(); track d.date) {
                <div class="rep-day col-12 col-md-6 col-lg-4">
                  <h3 class="ps-5">{{ d.date }}</h3>
                  <ul>
                     @for (id of d.movies; track id) {
                      @let movie = getMovie(id);
                      @let movieProjections = getProjections(id, d.id);
                      @for(p of movieProjections; track p.id){
                      <li class="d-flex align-items-center  mb-2">
                        <img [src]="movie?.poster ?? 'assets/img/placeholder.png'" [alt]="movie?.title ?? 'poster'" width="60" height="80" class="me-2 rounded"/>
                        <div class="d-flex flex-column">
                          <a class="link-dark link-underline-opacity-0 fw-bold" [routerLink]="['/movies', movie?.id]">{{ movie?.title ?? 'Unknown title' }}</a>
                          <span>{{p?.time}}pm - {{p?.hall}}</span>
                        </div>
                      </li> 
                    }
                  }
                  </ul>
                </div>
              }
            </div>
          } @else {
            <p>No repertoire data.</p>
          }
      </div>
</section>

